@charset 'UTF-8';
::-webkit-scrollbar
{
    width: 10px !important;
    height: 10px !important;

    -webkit-appearance: none;
}
::-webkit-scrollbar-thumb
{
    height: 5px;

    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    -webkit-border-radius: 6px;
    background-color: rgba(0,0,0,.3);
    background-clip: padding-box;
}

::selection
{
    background: rgba(#000,.2);
}
::-moz-selection
{
    background: rgba(#000,.2);
}
screen
{
    display: block;
}

body,
html
{
    font-family: $font;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;

    color: #333;

    -moz-osx-font-smoothing: grayscale;
    // -webkit-font-smoothing: antialiased;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.2rem;
}

.container
{
    font-size: 1.4rem;

    width: $max-width;
    margin: auto;
}

input,
button,
a,
textarea
{
    font-family: $font;

    border: none;
    outline: 0;
}

input[disabled=disabled]
{
    cursor: default;

    opacity: .6;
}
textarea
{
    resize: none;
}
input,
textarea
{
    padding: 5px 10px;

    border: 1px solid #ddd;
    border-radius: 3px;
    &:focus
    {
        border-color: $lead-color;
    }
}

img
{
    border: none;
}

.clear,
.clearfix
{
    &:before
    {
        display: table;

        content: '';
    }
    &:after
    {
        display: table;
        clear: both;

        content: '';
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    line-height: inherit;

    color: #ccc !important;
}
input:-moz-placeholder
{
    line-height: inherit;

    color: #aaa !important; // Mozilla Firefox 4 to 18 /
}
input::-moz-placeholder
{
    line-height: inherit;

    color: #ccc !important; // Mozilla Firefox 19+ /
}
input:-ms-input-placeholder
{
    line-height: 1;

    color: #ccc !important; // Internet Explorer 10+ */
    // vertical-align: top;
}
/*a*/

a
{
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: none !important; 

    border: none;
    outline: none;
}

input, button, a, textarea {
    font-family: "Pingfang SC", "STHeiti", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    border: none;
    outline: 0;
}

ul
{
    list-style-type: none;
}
ul,
li
{
    margin: 0;
    padding: 0;
}

//font-color
.text-muted
{
    color: $gray-color-2;
}
.text-gary
{
    color: $gray-color-1;
}
.text-orange
{
    color: $orange-color;
}
.link-blue,
.link-blue a
{
    color: $blog-body-link-color;
    &:hover
    {
        color: $blog-link-hover-color;
    }
}
.link-lead-hover
{
    :hover
    {
        text-decoration: underline;

        color: $lead-link-color;
    }
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}

//table reset 
table
{
    p
    {
        line-height: 1.6;

        margin: 5px 0!important;
        word-wrap: break-word;
    }
}

// font-style
[data-wrap='nowrap']
{
    white-space: nowrap;
}

//hide//show
.hide
{
    display: none;
}
.over-hide
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

[data-show='mobile']
{
    display: none;
}
.items-center
{
    align-items: center;
}
//不同尺寸显示或隐藏
@include min-screen($pad-width + 1)
{
    .sm-show
    {
        display: none;
    }
    .sm-hide
    {
        display: inline-block;
    }
}
@include max-screen($pad-width)
{
    .sm-hide
    {
        display: none;
    }
    .sm-show
    {
        display: inline-block;
    }
    [data-show='mobile']
    {
        display: inline-block;
    }
}
@include min-screen($min-width + 1)
{
    .md-show
    {
        display: none;
    }
    .md-hide
    {
        display: inline-block;
    }
}
@include max-screen($min-width)
{
    .md-show
    {
        display: inline-block;
    }
    .md-hide
    {
        display: none;
    }
}
@include max-screen($max-width)
{
    .container
    {
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
    }
}
.pages{
    text-align: right;
    display: block;
}