<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms-4.3.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.or2g/schema/core/activemq-core-5.9.0.xsd">

    <!-- 配置JSM连接工厂 -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${broker.URL}" />
        <property name="useAsyncSend" value="true" />
        <property name="alwaysSessionAsync" value="true" />
        <property name="useDedicatedTaskRunner" value="true" />
    </bean>



    <!-- 配置JSM模板(Queue),Spring提供的JMS工具类，它发送、接收消息 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="demoQueueDestination"/>
        <property name="explicitQosEnabled" value="true"/>
        <property name="receiveTimeout" value="${receiver.timeout}"/>
    </bean>

    <!-- 定义消息队列 -->
    <bean id="demoQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>IYEEKU_DEFAULT_QUEUE</value>
        </constructor-arg>
    </bean>

    <!-- MQ 消息发送工具类 -->
    <bean id="sendMessage" class="com.iyeeku.core.mq.sender.SendMessageImpl">
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="destination" ref="demoQueueDestination"/>
    </bean>


    <!-- 配置消息队列监听者 -->
    <bean id="machineStatusQueneMsgListener" class="com.iyeeku.monitor.listener.MachineStatusQueneMsgListener"/>

    <!-- 显示注入消息监听容器（Queue），配置连接工厂，监听的目标是demoQueueDestination，监听器是上面定义的监听器 -->
    <bean id="queueListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="demoQueueDestination"/>
        <property name="messageListener" ref="machineStatusQueneMsgListener"/>
    </bean>


</beans>